:root{
--menu-brand-color--: #2E2F42;
--titel-brand-color--: #434455;
--primary-brand-color--: #4D5AE5;
--aktiv-heder--: #404BBF;
--btn-brand-color--:#ffffff;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    background-color:#FFFFFF;
    color:var(--menu-brand-color);
}
.list{
list-style: none;
margin: 0;
padding: 0;}
.link{text-decoration: none;}
.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.flex {
    display: flex;
    align-items: center;
}
.section {
    padding: 120px;
}
/* heder */
.web {
    font-family: 'Raleway'; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1,33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;;
}
.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1,33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--menu-brand-color);
    margin-right: 74px;
    
}
.heder-container{
    display: flex;
    align-items: center;
    margin: 0;
    border: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 72px;
}
.heder-item{
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1,5;
letter-spacing: 0.02em;
flex: none;
order: 0;
flex-grow: 0;
color: var(--menu-brand-color--);
margin: 0;
border: 0;
}
.heder-item:hover, .heder-item:focus {
color: #404BBF;
}
.heder-list{
display: flex;
flex-direction: row;
justify-content: flex-start;
gap: 40px;
align-items: center;
}
.contakt {
    margin-left: auto;
}
.contakt-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
.contakt-item{
border: 0px;
font-family: inherit;
font-size: 16px;
font-style: normal;
line-height: 1,5;
letter-spacing: 0.02em;
color: var(--menu-brand-color);
}

.contakt-item:hover, .contakt-item:focus{
    color: #404BBF;
}
/*section 1*/
.hero {
    background-color:#2E2F42;
    height: 600px;
}
.hero-container{
    display: inline;
}
.hero-titel {
font-weight: 700;
font-size: 56px;
line-height: 60px;
color: var(--btn-brand-color--);
margin-right: auto;
margin-left: auto;
margin-top: 188px;
margin-bottom: 48px;
text-align: center;
max-width: 500px;
}
.hero-btn {
background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1,5;
letter-spacing: 0.04em;
color: var(--btn-brand-color--);
padding: 16px 32px;
align-items: center;
border: 0;
}
.hero-btn:hover, .hero-btn:focus {
    background: #404BBF;
}
.btn {
    cursor: pointer;
}
.hero-btn-container {
    display: flex;
    justify-content: center;
flex-direction: row;
align-items: flex-start;
padding-bottom: 188px;
}
/*section 2*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0000);
    clip-path: inset(50%);
    margin: -1px;
}
.section-conteiner{
    display: flex;
    justify-content: center;
}
.about-list {
    display: flex;  
    justify-content: center;
    gap: 24;
    margin: 0;
    padding: 0;
}
.about-titel {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.about-text {
line-height: 1,5;
letter-spacing: 0.02em;
color:var(--titel-brand-color);
}
/*section 3*/
.services {
    font-weight: 700;
font-size: 36px;
line-height: 1,11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
margin-top: 0;
}
.services-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 120px;
}
/*section 4*/
.our_team {
    background: #F4F4FD;
}
.team{
    font-weight: 700;
font-size: 36px;
line-height: 1,11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
margin-top: 0;
}
.team-titel{
    font-weight: 500;
font-size: 20px;
line-height: 1,2;
text-align: center;
letter-spacing: 0.02em;
}
.team-text{
line-height: 1,5;
text-align: center;
letter-spacing: 0.02em;
color:var(--titel-brand-color);
}
.team-item{
    background-color: #FFFFFF;
}
.team-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}
/*footer*/
.footer {
    background: #2E2F42;
}
.footer-conteiner{
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-text{
line-height: 1,5;
letter-spacing: 0.02em;
color: #E7E9FC;
text-align: left;
width: 264px;
height: 72px;
}
/*second page*/
.btn-item {
background: #F4F4FD;
border: 1px solid #E7E9FC;
border-radius: 4px;
box-sizing: border-box;
font-family: inherit;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color:#4D5AE5;
padding: 12px 24px;
}
.btn-item:hover, .btn-item:focus {
color: var(--btn-brand-color--);
background-color: #4D5AE5;
}
.btn-list {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 24px;
margin-bottom: 72px;
}
.titel{
    font-weight: 500;
font-size: 20px;
line-height: 1,2;
letter-spacing: 0.02em;
margin:0;
margin-bottom: 8px;
}
.text {
line-height: 1,5;
letter-spacing: 0.02em;
color:var(--titel-brand-color);
margin: 0%;
}
.item-box {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding-top: 32px;
padding-bottom: 32px;
}
.item{
    margin-bottom: 48px;
}
.menu-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    flex-basis: calc((100%-2*24px)/3);
}
.logo-footer{
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1,33;
letter-spacing: 0.03em;
text-transform: uppercase;
color:#F4F4FD;
margin-bottom: 16px;
}